:root {
    /* root color variables allows you to use the name instead of hex values */
    --bright-blue: #007bff;
    --light-grey-body: #fafafa;
    --ghost-white: #f5f5fA;
    --alice-blue: aliceblue;
    --slate-gray: lightslategray;
    --silver: silver;
    --graphite: #506578;
    --trench-blue: #406885;
    --light-blue: #d0e9fe;
    --chocolate: rgb(210, 105, 30);
    --maroon: #9c2b33;
    --nd-blue: #20364c;
    --nd-gold: #c99700;
    --page-bg: #f7f9fa;
    --light-gray: #e2e6ea;
  }
  
  
  body {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: whitesmoke;
    /* background: var(--light-grey-body); */
  }
  
  #toc,
  #page-header 
  {
    font-family: 'Noto Serif', serif;
  }

  #tab-content
  {
    font-family:'Garamond';
  }


  
  /* background and colors */
  .bg-alice-blue {
    background: #f6f7fb;
  }
  
/* font styling */
.capital {
  font-size: 4rem;
}

  .citation{
    background: var(--light-blue);
  }
  
  .sic, .correction {
    padding: 5px;
    text-align: center;
    border-bottom: dashed 2px slategray;
  }

  .correction {
    padding: auto;
    background-color: slategray;
    color: yellow;
    display: block;
  }

  /* cypher classes  */
  .cypher {
    background: lightskyblue;
    padding: .1rem .4rem .1rem .4rem;
    border-bottom: 1px dashed gray;
    cursor: pointer;
  }
  
  .decypher {
    background: darkslategrey;
    color: whitesmoke;
    padding: .1rem .4rem .1rem .4rem;
    border-bottom: 1px dashed gray;
    
  }

  .fable{
    padding: .1rem,.4rem;
    border-bottom: 2px dotted dodgerblue;
    border-style:groove;
  }


.footnote_btn {
  padding: .1rem, .1rem;  
  border-bottom: 2px solid darkslategray;
  cursor: pointer;
    
}

.footnote {
  padding: .1rem, .4rem;
  background: lightgrey;
  width:200px;
}

.original_italics {
  font-style:italic;
}

.page_number{
  color: var(--graphite);
  font-size: small;
  float: right;
  display: block;
}

.proverb{
  border-bottom: 1px dotted var(--trench-blue);
}



.q{
  display: block;
  padding: .1rem .4rem;
  border-bottom: 1px gray;
}

.receipt{
  border-bottom: 1px dotted darkturquoise;
}

.section-title {
  font-family: 'Garamond', italic;
}

.sic {
  padding: .1rem, .1rem;
  cursor: pointer;

}

.speaker {
    font-weight:bold;
    display:block;
}

.speech-act {
    font-weight:normal;
}

.stage{
  display:block;

}

.summary {
  font-variant:small-caps;
}

.triangle-up {
  width:0;
  height:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom: 20px solid #555;
  border-top: 20px solid transparent;
  cursor: pointer;
  display: inline;

}




